body{
	margin: 0 auto;
	background-attachment: fixed;
	background-size: 100%;
}
a{
	text-decoration: none;
}
.icon{
	width: 40px; 
	height:40px;
	vertical-align: middle;
}

button{
	font-family: RussoOne, Arial; 
	background-color: transparent; ;
	outline: none;
	vertical-align: middle;
	font-size: 0.75em;
	border: none;
	width: 100%;
	height: 100%;
}

td {
	margin: auto;
	width: all; 
    text-align: center; 
   }
@font-face {
    font-family: "RussoOne"; 
    src: url("../fonts/RussoOne/2.ttf");
   }

.application{
	outline: 2px dashed rgba(255,255,255,0.8);
    outline-offset: -2px;  
	word-wrap: break-word;
	cursor: text;
	border-radius: 10px;
	background-color: #00BFFF;
	width: 100%;
	height: auto;
	font-family: Arial;
	text-align: center;
	font-size: 1em;
	text-shadow: 0px 0px 5px #8B0000;
	color: #FFE4E1;

}
.logo{
	cursor: pointer;
	vertical-align: top;
	float: center;
	width:50px;
	height: 50px; 
}
.context{
	float: right;
	word-wrap: break-word;
	border:  1px;
	cursor: text;
	border-radius: 10px;
	background-color: #CD853F;
	width: 20%;
	height: auto;
	font-family: Arial;
	text-align: center;
	font-size: 30px;
	text-shadow: 0px 0px 5px #8B0000;
	color: #FFE4E1;
}
.cont2{
	word-wrap: break-word;
	font-family: ;
	cursor: text;
	border-radius: 10px;
	background-color: #CD853F;
	width: 100%;
	height: auto;
	font-family: Arial;
	text-align: center;
	font-size: 2em;
	text-shadow: 0px 0px 5px #8B0000;
	color: #FFE4E1;
}
.content{
	float: left;
	word-wrap: break-word;
	cursor: text;
	border-radius: 10px;
	background-color: #CD853F;
	width: 79%;
	height: auto;
	font-family: Arial;
	text-align: left;
	font-size: 2em;
	text-shadow: 0px 0px 5px #8B0000;
	color: #FFE4E1;
}
.headder {
	padding: 1%;	
	margin: auto;
	position: fixed;
	word-wrap: break-word;
	cursor: default;
	background-color: #FFDAB9;
	width: 100%;
	height: 65px;
	text-align: center;
	font-size: 2em;
	text-shadow: 0px 0px 20px #006400;
	color: #FFE4E1;
}
.img{
	cursor: default;
	width: 40%;
	height:30%;
}
.rightpic{
	float: right;
	margin: 1%;
}
.leftpic{
	float: left;
	margin: 5%;
}